 <!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
    	<div class="row">
			<div class="col-md-4">
				<ul class="sidebar-nav">
					<li>
						<a href="https://www.linkedin.com/in/irina-o-hara/" target="_blank"><img src="../assets/linkedin.png" class="icon"></a>
					</li>
					<li>
						<a href="https://www.github.com/irinaoh/" target="_blank"><img src="../assets/github.png" style="height:43px "></a>
					</li>
					<!-- <li>
			            <a href="#top" onclick=$("#menu-close").click();>Home</a>
			        </li> -->
			        <li>
			            <a href="#skills" onclick=$("#menu-close").click();>Skills</a>
			        </li>
			        <li>
			            <a href="#portfolio" onclick=$("#menu-close").click();>Projects</a>
			        </li>
			        <li>
			            <a href="#about" onclick=$("#menu-close").click();>About</a>
			        </li>
			        <li>
			            <a href="#contact" onclick=$("#menu-close").click();>Contact</a>
			        </li>
			    </ul>
        	</div>
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<img src="../assets/gray_logo.png" style="height: 300px">
				<!-- <h1>IRINA O'HARA</h1> -->
        		<h3>Web Developer
        		<br> and Designer</h3>
			       <!--  <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a> -->
			        <!-- <li class="sidebar-brand">
			            <a href="#top" onclick=$("#menu-close").click();>Irina's Portfolio</a>
			        </li> -->
			        
			</div>
		</div>
        <!-- 
        <br> -->
        <!-- <a href="#about" class="btn btn-dark btn-lg">Let Me Introduce Myself</a> -->
    </div>
</header>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>My Projects</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <a href="https://www.github.com/irinaoh/" target="_blank" class="btn btn-dark">View More on GitHub</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


<!-- Services -->
<section id="skills" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>My Skills</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>HTML/CSS</strong>
                            </h4>
                            <img src="../assets/html.png" class="icon">
                            <img src="../assets/css.png" class="icon">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-compass fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>JavaScript/jQuery</strong>
                            </h4>
                            <img src="../assets/js.png" class="icon">
                            <img src="../assets/jQuery.png" class="icon">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-flask fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Ruby on Rails/Sinatra</strong>
                            </h4>
                            <img src="../assets/rails.png" class="icon">
                            <img src="../assets/sinatra.png" class="icon">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-shield fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Bootstrap API</strong>
                            </h4>
                            <img src="../assets/bootstrap.png" class="icon">
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<!-- <aside class="callout">
    <div class="text-vertical-center">
        <h1>Vertically Centered Text</h1>
    </div>
</aside>
 -->
<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2>Let Me Introduce Myself!</h2>
                <p class="lead">Hi! My name is Irina O’Hara. I am a web designer and developer. I live in Utah’s “Silicon Slopes” with my husband. I recently graduated from New York Code+Design Academy where I studied full stack web development. I am also currently enrolled in BYU-I web design and development program. I believe constant learning is the key to success in my profession, it helps to stay on top of modern technologies. I love helping small businesses by creating attractive web sites from scratch. I also enjoy working in a group of developers, it’s always fun and has great potential for self-improvement. <br>
				I have a few hobbies I am passionate about. I love sewing and designing clothes, I have a little home studio. I grow veggies on my backyard and enjoy healthy eating. When I need a break from coding I usually exercise or do yoga, one day I’d like to compete in a bikini or figure competition. </p>
            </div>
            <div class="col-lg-6 text-center">
            	<img src="../assets/me.jpg" style="height: 450px">
            </div>
        </div>
       <!--  /.row -->
    </div>
   <!--  < /.container> -->
</section>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Let's Work on a Project Together</h3>
                <a href="https://www.linkedin.com/in/irina-o-hara/" target="_blank" class="btn btn-lg btn-light">LinkedIn</a>
                <a href="https://www.github.com/irinaoh/" target="_blank" class="btn btn-lg btn-dark">GitHub</a>
            </div>
        </div>
    </div>
</aside>

<section id="contact">	
	<!-- Footer -->
	<footer>
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-10 col-lg-offset-1 text-center">
	                <h4><strong>Contact Me</strong>
	                </h4>
	                <p>Salt Lake City, Utah</p>
	                <ul class="list-unstyled">
	                    <li><i class="fa fa-phone fa-fw"></i> (336) 456-7890</li>
	                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">name@example.com</a>
	                    </li>
	                </ul>
	                <br>
	                <ul class="list-inline">
	                    <li>
	                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
	                    </li>
	                    <li>
	                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
	                    </li>
	                    <li>
	                        <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
	                    </li>
	                </ul>
	                <hr class="small">
	                <p class="text-muted">Design by <br><img src="../assets/gray_logo.png" style="height: 100px"></p>
	            </div>
	        </div>
	    </div>
	    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
	</footer>
</section>